extends base

block content
	.container
		h2 Downloads
		.callout.callout-danger
			h4 WARNING: This is alpha code
			p.
				Do not use this library for production code. This still
				requires proper testing and tunning.
			p.
				Use under your own risk.
		p Download the code and sources.
		.container
			div
				h4
					a(href="downloads/scaliapp_2.11.jar")
						i.fa.fa-download &nbsp;
						span Download binary
			div
				h4
					a(href="downloads/scaliapp_2.11-sources.jar")
						i.fa.fa-file-code-o &nbsp;
						span Download source
			div
				h4
					a(href="downloads/scaliapp_2.11-javadoc.jar")
						i.fa.fa-book &nbsp;
						span Download documentation
		.callout.callout-info
			.media
				.media-left
					i.fa.fa-4x.fa-github
				.media-body
					h4.media-body
						a(href="https://github.com/alanrodas/scaliapp") Download the Source Code
					p Go and fetch the source code from GitHub
					p Also, do not forget to contribute.
